.blogPage{
  .header-blog{
    display: flex;
    height: 25vh;
    margin-top: 30vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      font-family: Rubik, sans-serif;
      font-style: italic;
      font-weight: bold;
      font-size: 100px;
      text-align: center;
    }
    h3{
      font-family: Rubik, sans-serif;
      font-style: italic;
      font-weight: normal;
      font-size: 24px;
      text-align: center;
    }
  }
  main{
    margin: auto;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    grid-gap: 10px;
    width: 80vw;
    .fiche{
      position: relative;
      overflow: hidden;
      .info {
        height: 100%;
        display: flex;
        justify-content: center;align-items: center;
         a {color: white; text-decoration: none;}
       }
      .titreArticle{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        &:hover{
          font-size: 55px;
          transition: 1s;
        }
      }
      &:hover>.background{
        height: 195%;
        width: 195%;
        transition: 1s;
      }
      .background{
        position: absolute;
        background-color: black;
        height: 200%;
        width: 200%;
        top: 0;
        transform: translate(-25%);
        z-index: -10;
        opacity: 0.8;
      }
    }
  }
}
